version: "3.8"

services:
  tracker:
    image: linuxserver/transmission
    container_name: tracker
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - TRANSMISSION_ENABLE_TRACKER=true
    volumes:
      - ./tracker/config:/config
      - ./tracker/downloads:/downloads
    ports:
      - "6969:6969/udp"
      - "6969:6969/tcp"
      - "9090:9091"
    networks:
      - torrent_net


  peer1:
    image: linuxserver/transmission
    container_name: peer1
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - TRANSMISSION_DHT_ENABLED=true
      - TRANSMISSION_PEX_ENABLED=true
      - TRANSMISSION_LPD_ENABLED=true
    volumes:
      - ./peer1/config:/config
      - ./peer1/downloads:/downloads
    ports:
      - "9091:9091"
      - "51411:51413/tcp"
      - "51411:51413/udp"
    networks:
      - torrent_net
    depends_on:
      - tracker

  peer2:
    image: linuxserver/transmission
    container_name: peer2
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - TRANSMISSION_DHT_ENABLED=true
      - TRANSMISSION_PEX_ENABLED=true
      - TRANSMISSION_LPD_ENABLED=true
    volumes:
      - ./peer2/config:/config
      - ./peer2/downloads:/downloads
    ports:
      - "9092:9091"
      - "51412:51413/tcp"
      - "51412:51413/udp"
    networks:
      - torrent_net
    depends_on:
      - tracker

  leecher1:
    image: linuxserver/transmission
    container_name: leecher1
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - TRANSMISSION_DHT_ENABLED=true
      - TRANSMISSION_PEX_ENABLED=true
      - TRANSMISSION_LPD_ENABLED=true
    volumes:
      - ./leecher1/config:/config
      - ./leecher1/downloads:/downloads
    ports:
      - "9093:9091"
      - "51413:51413/tcp"
      - "51413:51413/udp"
    networks:
      - torrent_net
    depends_on:
      - tracker

  leecher2:
    image: linuxserver/transmission
    container_name: leecher2
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - TRANSMISSION_DHT_ENABLED=true
      - TRANSMISSION_PEX_ENABLED=true
      - TRANSMISSION_LPD_ENABLED=true
    volumes:
      - ./leecher2/config:/config
      - ./leecher2/downloads:/downloads
    ports:
      - "9094:9091"
      - "51414:51413/tcp"
      - "51414:51413/udp"
    networks:
      - torrent_net
    depends_on:
      - tracker

  peer_leecher:
    image: linuxserver/transmission
    container_name: peer_leecher
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - TRANSMISSION_DHT_ENABLED=true
      - TRANSMISSION_PEX_ENABLED=true
      - TRANSMISSION_LPD_ENABLED=true
    volumes:
      - ./peer_leecher/config:/config
      - ./peer_leecher/downloads:/downloads
    ports:
      - "9095:9091"
      - "51415:51413/tcp"
      - "51415:51413/udp"
    networks:
      - torrent_net
    depends_on:
      - tracker

networks:
  torrent_net:
    driver: bridge
