services:
  seed:
    image: linuxserver/qbittorrent
    container_name: qbit_peer
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - WEBUI_PORT=8080
    volumes:
      - ./seeder/config:/config
      - ./seeder/downloads:/downloads
      - ./seeder/watch:/watch
    ports:
      - "8080:8080"
      - "51412:51413/tcp"
      - "51412:51413/udp"
    network_mode: host

  peer1:
    image: linuxserver/qbittorrent
    container_name: qbit_peer1
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - WEBUI_PORT=8081
    volumes:
      - ./peer1/config:/config
      - ./peer1/downloads:/downloads
      - ./peer1/watch:/watch
    ports:
      - "8081:8081"
      - "51413:51413/tcp"
      - "51413:51413/udp"
    networks:
      - swarm


  peer2:
    image: linuxserver/qbittorrent
    container_name: qbit_peer2
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - WEBUI_PORT=8082
    volumes:
      - ./peer2/config:/config
      - ./peer2/downloads:/downloads
      - ./peer2/watch:/watch
    ports:
      - "8082:8082"
      - "51414:51413/tcp"
      - "51414:51413/udp"
    networks:
      - swarm


  peer3:
    image: linuxserver/qbittorrent
    container_name: qbit_peer3
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - WEBUI_PORT=8083
    volumes:
      - ./peer3/config:/config
      - ./peer3/downloads:/downloads
      - ./peer3/watch:/watch
    ports:
      - "8083:8083"
      - "51415:51413/tcp"
      - "51415:51413/udp"
    networks:
      - swarm


  peer4:
    image: linuxserver/qbittorrent
    container_name: qbit_peer4
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - WEBUI_PORT=8084
    volumes:
      - ./peer4/config:/config
      - ./peer4/downloads:/downloads
      - ./peer4/watch:/watch
    ports:
      - "8084:8084"
      - "51416:51413/tcp"
      - "51416:51413/udp"
    networks:
      - swarm

  peer5:
    image: linuxserver/qbittorrent
    container_name: qbit_peer5
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - WEBUI_PORT=8085
    volumes:
      - ./peer5/config:/config
      - ./peer5/downloads:/downloads
      - ./peer5/watch:/watch
    ports:
      - "8085:8085"
      - "51417:51413/tcp"
      - "51417:51413/udp"
    networks:
      - swarm

networks:
  swarm:
    driver: host