version: "3.8"

services:
  peer:
    image: linuxserver/transmission
    container_name: peer
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - TRANSMISSION_DHT_ENABLED=false 
    volumes:
      - ./peer/config:/config
      - ./peer/downloads:/downloads
      - ./peer/watch:/watch
    ports:
      - "9091:9091"
      - "51411:51413/tcp"
      - "51411:51413/udp"
    networks:
      - torrent_net

  leecher1:
    image: linuxserver/transmission
    container_name: leecher1
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - TRANSMISSION_DHT_ENABLED=true
    volumes:
      - ./leecher1/config:/config
      - ./leecher1/downloads:/downloads
      - ./leecher1/watch:/watch
    ports:
      - "9092:9091"
      - "51412:51413/tcp"
      - "51412:51413/udp"
    networks:
      - torrent_net

  leecher2:
    image: linuxserver/transmission
    container_name: leecher2
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - TRANSMISSION_DHT_ENABLED=true
    volumes:
      - ./leecher2/config:/config
      - ./leecher2/downloads:/downloads
      - ./leecher2/watch:/watch
    ports:
      - "9093:9091"
      - "51413:51413/tcp"
      - "51413:51413/udp"
    networks:
      - torrent_net

  leecher3:
    image: linuxserver/transmission
    container_name: leecher3
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - TRANSMISSION_DHT_ENABLED=true
    volumes:
      - ./leecher3/config:/config
      - ./leecher3/downloads:/downloads
      - ./leecher3/watch:/watch
    ports:
      - "9094:9091"
      - "51414:51413/tcp"
      - "51414:51413/udp"
    networks:
      - torrent_net

  monitor:
    image: debian:stable-slim
    container_name: monitor
    networks:
      - torrent_net
    tty: true
    stdin_open: true
    command: bash -c "apt-get update && apt-get install -y tcpdump tmux && bash"

networks:
  torrent_net:
    driver: bridge
