version: '3.9'

services:
  # O Seeder também será o Tracker
  seeder-tracker:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: torrent-seeder-tracker
    networks:
      - torrent-net
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
    ports:
      - "8080:8080"    # WebUI do Seeder
      - "9000:9000"    # Porta do Tracker
      - "6881:6881/tcp" # Porta P2P do Seeder
      - "6881:6881/udp" # Porta P2P do Seeder
    volumes:
      - ./seeder-config/qbittorrent:/config/qBittorrent
      - ./seeder-data:/downloads  # <-- PASTA DO SEU PC
    deploy:
      resources:
        limits:
          cpus: '1.5'
          memory: '500M'

  # Cliente 1
  leecher1:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: torrent-leecher1
    networks:
      - torrent-net
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
    ports:
      - "8081:8080"
      - "6882:6882/tcp"
      - "6882:6882/udp"
    volumes:
      - ./leecher1-config/qbittorrent:/config/qBittorrent
      - ./leecher-data:/downloads
    deploy:
      resources:
        limits:
          cpus: '1.5'
          memory: '500M'
    depends_on:
      - seeder-tracker

  # Cliente 2
  leecher2:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: torrent-leecher2
    networks:
      - torrent-net
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
    ports:
      - "8082:8080"
      - "6883:6883/tcp"
    volumes:
      - ./leecher2-config/qbittorrent:/config/qBittorrent
      - ./leecher-data:/downloads
    deploy:
      resources:
        limits:
          cpus: '1.5'
          memory: '500M'
    depends_on:
      - seeder-tracker
# # Cliente 3
#   leecher3:
#     image: lscr.io/linuxserver/qbittorrent:latest
#     container_name: torrent-leecher3
#     networks:
#       - torrent-net
#     environment:
#       - PUID=1000
#       - PGID=1000
#       - TZ=America/Sao_Paulo
#     ports:
#       - "8082:8080" 
#       - "6884:6884/tcp"
#       - "6884:6884/udp"
#     volumes:
#       - ./leecher3-config/qbittorrent:/config/qBittorrent
#       - ./leecher-data:/downloads
#     deploy:
#       resources:
#         limits:
#           cpus: '1.5'
#           memory: '500M'
#     depends_on:
#       - seeder-tracker

# networks:
#   torrent-net:
#     driver: bridge